@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <form name="form1" method="post" enctype="multipart/form-data" action="http://localhost:3124/client/postsetuserlogo">
        <input id="userid" name="userid" type="text"/>
        <input id="file" name="file" type="file" />
        <input id="Submit1" type="submit" value="submit" />
    </form>
</body>
</html>
