<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="amEntities" connectionString="metadata=res://*/AM.csdl|res://*/AM.ssdl|res://*/AM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=127.0.0.1;port=3306;user id=root;password=root;persist security info=True;database=am&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="amEntities" connectionString="metadata=res://*/AM.csdl|res://*/AM.ssdl|res://*/AM.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;port=3306;user id=root;password=;persist security info=True;database=am&quot;" providerName="System.Data.EntityClient" />-->

  </connectionStrings>
</configuration>