@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div style="font-size:20px; font-weight:700">
        没有权限
    </div>
</body>
</html>
