.notice{
	color: red;
}
input[type=radio]{
	width: 15px;
}
input[type=radio]:focus{
	box-shadow: none;
}
.jc-row{
	width: 100%;
	height: 50px;
	padding-left: 10px;
	line-height: 50px;
	border-bottom: 1px solid #ddd;
}
.jc-row-img{
	width: 14px;
	height: 14px;
	margin-right: 10px;
	margin-top: -2px;
}
.jc-row-img img{
	width: 14px;
	height: 14px;
}