@{
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}
<div id="Dlg-Edit" title="窗口" style="width: 670px; height: 400px;" buttons="#buttons">
    <div style="padding: 10px 10px 40px 40px;">
        <form method="post">
            <table>
                <tr> <td class="right">企业企业名称：</td><td><input type="text" name="QYQYMC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业企业地址：</td><td><input type="text" name="QYQYDZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业邮编：</td><td><input type="text" name="QYYB" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业组织机构代码：</td><td><input type="text" name="QYZZJGDM" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业联系人：</td><td><input type="text" name="QYLXR" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业固定电话：</td><td><input type="text" name="QYGDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业移动电话：</td><td><input type="text" name="QYYDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业电子邮箱：</td><td><input type="text" name="QYDZYX" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业传真：</td><td><input type="text" name="QYCZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业营业执照注册号：</td><td><input type="text" name="QYYYZZZCH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业注册日期：</td><td><input type="text" name="QYZCRQ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业营业执照登记机构：</td><td><input type="text" name="QYYYZZDJJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经济类型：</td><td><input type="text" name="QYJJLX" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业注册资金：</td><td><input type="text" name="QYZCZJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业固定资产：</td><td><input type="text" name="QYGDZC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业从事吊篮业务人数：</td><td><input type="text" name="QYCSDLYWRS" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业企业职工总人数：</td><td><input type="text" name="QYQYZGZRS" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业出租用吊篮数量：</td><td><input type="text" name="QYCZYDLSL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业开始从事吊篮业务日期：</td><td><input type="text" name="QYKSCSDLYWRQ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业企业简介：</td><td><input type="text" name="QYQYJJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人姓名：</td><td><input type="text" name="QYFRXM" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人性别：</td><td><input type="text" name="QYFRXB" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人最高学历：</td><td><input type="text" name="QYFRZGXL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人职务：</td><td><input type="text" name="QYFRZW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人职称：</td><td><input type="text" name="QYFRZC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人专业：</td><td><input type="text" name="QYFRZY" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人固定电话：</td><td><input type="text" name="QYFRGDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人移动电话：</td><td><input type="text" name="QYFRYDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人培训：</td><td><input type="text" name="QYFRPX" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人培训时间：</td><td><input type="text" name="QYFRPXSJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业法人培训合格证书编号：</td><td><input type="text" name="QYFRPXHGZSBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理姓名：</td><td><input type="text" name="QYJLXM" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理性别：</td><td><input type="text" name="QYJLXB" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理最高学历：</td><td><input type="text" name="QYJLZGXL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理职务：</td><td><input type="text" name="QYJLZW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理职称：</td><td><input type="text" name="QYJLZC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理专业：</td><td><input type="text" name="QYJLZY" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理固定电话：</td><td><input type="text" name="QYJLGDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理移动电话：</td><td><input type="text" name="QYJLYDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理培训：</td><td><input type="text" name="QYJLPX" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理培训时间：</td><td><input type="text" name="QYJLPXSJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业经理培训合格证书编号：</td><td><input type="text" name="QYJLPXHGZSBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术姓名：</td><td><input type="text" name="QYJSXM" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术性别：</td><td><input type="text" name="QYJSXB" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术最高学历：</td><td><input type="text" name="QYJSZGXL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术职务：</td><td><input type="text" name="QYJSZW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术职称：</td><td><input type="text" name="QYJSZC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术专业：</td><td><input type="text" name="QYJSZY" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术固定电话：</td><td><input type="text" name="QYJSGDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术移动电话：</td><td><input type="text" name="QYJSYDDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术培训：</td><td><input type="text" name="QYJSPX" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术培训时间：</td><td><input type="text" name="QYJSPXSJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业技术培训合格证书编号：</td><td><input type="text" name="QYJSPXHGZSBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员序号1：</td><td><input type="text" name="GLRYXH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员姓名1：</td><td><input type="text" name="GLRYXM1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职务1：</td><td><input type="text" name="GLRYZW1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职称1：</td><td><input type="text" name="GLRYZC1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员学历1：</td><td><input type="text" name="GLRYXL1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员专业1：</td><td><input type="text" name="GLRYZY1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员身份证号码1：</td><td><input type="text" name="GLRYSFZHM1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员序号2：</td><td><input type="text" name="GLRYXH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员姓名2：</td><td><input type="text" name="GLRYXM2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职务2：</td><td><input type="text" name="GLRYZW2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职称2：</td><td><input type="text" name="GLRYZC2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员学历2：</td><td><input type="text" name="GLRYXL2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员专业2：</td><td><input type="text" name="GLRYZY2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员身份证号码2：</td><td><input type="text" name="GLRYSFZHM2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员序号3：</td><td><input type="text" name="GLRYXH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员姓名3：</td><td><input type="text" name="GLRYXM3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职务3：</td><td><input type="text" name="GLRYZW3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职称3：</td><td><input type="text" name="GLRYZC3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员学历3：</td><td><input type="text" name="GLRYXL3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员专业3：</td><td><input type="text" name="GLRYZY3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员身份证号码3：</td><td><input type="text" name="GLRYSFZHM3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员序号4：</td><td><input type="text" name="GLRYXH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员姓名4：</td><td><input type="text" name="GLRYXM4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职务4：</td><td><input type="text" name="GLRYZW4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职称4：</td><td><input type="text" name="GLRYZC4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员学历4：</td><td><input type="text" name="GLRYXL4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员专业4：</td><td><input type="text" name="GLRYZY4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员身份证号码4：</td><td><input type="text" name="GLRYSFZHM4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员序号5：</td><td><input type="text" name="GLRYXH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员姓名5：</td><td><input type="text" name="GLRYXM5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职务5：</td><td><input type="text" name="GLRYZW5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员职称5：</td><td><input type="text" name="GLRYZC5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员学历5：</td><td><input type="text" name="GLRYXL5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员专业5：</td><td><input type="text" name="GLRYZY5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">管理人员身份证号码5：</td><td><input type="text" name="GLRYSFZHM5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人序号1：</td><td><input type="text" name="JSGRXH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人姓名1：</td><td><input type="text" name="JSGRXM1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人工种1：</td><td><input type="text" name="JSGRGZ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人序号2：</td><td><input type="text" name="JSGRXH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人姓名2：</td><td><input type="text" name="JSGRXM2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人工种2：</td><td><input type="text" name="JSGRGZ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人序号3：</td><td><input type="text" name="JSGRXH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人姓名3：</td><td><input type="text" name="JSGRXM3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人工种3：</td><td><input type="text" name="JSGRGZ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人序号4：</td><td><input type="text" name="JSGRXH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人姓名4：</td><td><input type="text" name="JSGRXM4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人工种4：</td><td><input type="text" name="JSGRGZ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人序号5：</td><td><input type="text" name="JSGRXH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人姓名5：</td><td><input type="text" name="JSGRXM5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术工人工种5：</td><td><input type="text" name="JSGRGZ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书发证机构1：</td><td><input type="text" name="ZGZSFZJG1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书证书编号1：</td><td><input type="text" name="ZGZSZSBH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书有效期1：</td><td><input type="text" name="ZGZSYXQ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书发证机构2：</td><td><input type="text" name="ZGZSFZJG2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书证书编号2：</td><td><input type="text" name="ZGZSZSBH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书有效期2：</td><td><input type="text" name="ZGZSYXQ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书发证机构3：</td><td><input type="text" name="ZGZSFZJG3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书证书编号3：</td><td><input type="text" name="ZGZSZSBH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书有效期3：</td><td><input type="text" name="ZGZSYXQ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书发证机构4：</td><td><input type="text" name="ZGZSFZJG4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书证书编号4：</td><td><input type="text" name="ZGZSZSBH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书有效期4：</td><td><input type="text" name="ZGZSYXQ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书发证机构5：</td><td><input type="text" name="ZGZSFZJG5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书证书编号5：</td><td><input type="text" name="ZGZSZSBH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资格证书有效期5：</td><td><input type="text" name="ZGZSYXQ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备序号1：</td><td><input type="text" name="WXJCSBXUH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备名称1：</td><td><input type="text" name="WXJCSBMC1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备型号1：</td><td><input type="text" name="WXJCSBXH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备数量1：</td><td><input type="text" name="WXJCSBSL1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备备注1：</td><td><input type="text" name="WXJCSBBZ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备序号2：</td><td><input type="text" name="WXJCSBXUH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备名称2：</td><td><input type="text" name="WXJCSBMC2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备型号2：</td><td><input type="text" name="WXJCSBXH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备数量2：</td><td><input type="text" name="WXJCSBSL2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备备注2：</td><td><input type="text" name="WXJCSBBZ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备序号3：</td><td><input type="text" name="WXJCSBXUH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备名称3：</td><td><input type="text" name="WXJCSBMC3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备型号3：</td><td><input type="text" name="WXJCSBXH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备数量3：</td><td><input type="text" name="WXJCSBSL3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备备注3：</td><td><input type="text" name="WXJCSBBZ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备序号4：</td><td><input type="text" name="WXJCSBXUH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备名称4：</td><td><input type="text" name="WXJCSBMC4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备型号4：</td><td><input type="text" name="WXJCSBXH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备数量4：</td><td><input type="text" name="WXJCSBSL4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备备注4：</td><td><input type="text" name="WXJCSBBZ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备序号5：</td><td><input type="text" name="WXJCSBXUH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备名称5：</td><td><input type="text" name="WXJCSBMC5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备型号5：</td><td><input type="text" name="WXJCSBXH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备数量5：</td><td><input type="text" name="WXJCSBSL5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">维修检测设备备注5：</td><td><input type="text" name="WXJCSBBZ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩序号1：</td><td><input type="text" name="GCYJXH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩工程项目名称1：</td><td><input type="text" name="GCYJGCXMMC1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租赁吊篮台数1：</td><td><input type="text" name="GCYJZLDLTS1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租金总额1：</td><td><input type="text" name="GCYJZJZE1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩开竣工时间1：</td><td><input type="text" name="GCYJKJGSJ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩备注1：</td><td><input type="text" name="GCYJBZ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩序号2：</td><td><input type="text" name="GCYJXH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩工程项目名称2：</td><td><input type="text" name="GCYJGCXMMC2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租赁吊篮台数2：</td><td><input type="text" name="GCYJZLDLTS2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租金总额2：</td><td><input type="text" name="GCYJZJZE2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩开竣工时间2：</td><td><input type="text" name="GCYJKJGSJ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩备注2：</td><td><input type="text" name="GCYJBZ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩序号3：</td><td><input type="text" name="GCYJXH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩工程项目名称3：</td><td><input type="text" name="GCYJGCXMMC3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租赁吊篮台数3：</td><td><input type="text" name="GCYJZLDLTS3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租金总额3：</td><td><input type="text" name="GCYJZJZE3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩开竣工时间3：</td><td><input type="text" name="GCYJKJGSJ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩备注3：</td><td><input type="text" name="GCYJBZ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩序号4：</td><td><input type="text" name="GCYJXH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩工程项目名称4：</td><td><input type="text" name="GCYJGCXMMC4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租赁吊篮台数4：</td><td><input type="text" name="GCYJZLDLTS4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租金总额4：</td><td><input type="text" name="GCYJZJZE4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩开竣工时间4：</td><td><input type="text" name="GCYJKJGSJ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩备注4：</td><td><input type="text" name="GCYJBZ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩序号5：</td><td><input type="text" name="GCYJXH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩工程项目名称5：</td><td><input type="text" name="GCYJGCXMMC5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租赁吊篮台数5：</td><td><input type="text" name="GCYJZLDLTS5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩租金总额5：</td><td><input type="text" name="GCYJZJZE5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩开竣工时间5：</td><td><input type="text" name="GCYJKJGSJ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工程业绩备注5：</td><td><input type="text" name="GCYJBZ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏序号1：</td><td><input type="text" name="CZDLXUH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏型号1：</td><td><input type="text" name="CZDLXH1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏名称1：</td><td><input type="text" name="CZDLMC1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏出厂日期1：</td><td><input type="text" name="CZDLCCRQ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏吊篮制造厂家1：</td><td><input type="text" name="CZDLDLZZCJ1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏数量1：</td><td><input type="text" name="CZDLSL1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏序号2：</td><td><input type="text" name="CZDLXUH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏型号2：</td><td><input type="text" name="CZDLXH2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏名称2：</td><td><input type="text" name="CZDLMC2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏出厂日期2：</td><td><input type="text" name="CZDLCCRQ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏吊篮制造厂家2：</td><td><input type="text" name="CZDLDLZZCJ2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏数量2：</td><td><input type="text" name="CZDLSL2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏序号3：</td><td><input type="text" name="CZDLXUH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏型号3：</td><td><input type="text" name="CZDLXH3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏名称3：</td><td><input type="text" name="CZDLMC3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏出厂日期3：</td><td><input type="text" name="CZDLCCRQ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏吊篮制造厂家3：</td><td><input type="text" name="CZDLDLZZCJ3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏数量3：</td><td><input type="text" name="CZDLSL3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏序号4：</td><td><input type="text" name="CZDLXUH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏型号4：</td><td><input type="text" name="CZDLXH4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏名称4：</td><td><input type="text" name="CZDLMC4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏出厂日期4：</td><td><input type="text" name="CZDLCCRQ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏吊篮制造厂家4：</td><td><input type="text" name="CZDLDLZZCJ4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏数量4：</td><td><input type="text" name="CZDLSL4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏序号5：</td><td><input type="text" name="CZDLXUH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏型号5：</td><td><input type="text" name="CZDLXH5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏名称5：</td><td><input type="text" name="CZDLMC5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏出厂日期5：</td><td><input type="text" name="CZDLCCRQ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏吊篮制造厂家5：</td><td><input type="text" name="CZDLDLZZCJ5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出租吊栏数量5：</td><td><input type="text" name="CZDLSL5" class="easyui-validatebox editInput" required='true' /></td></tr>

            </table>
        </form>
    </div>
</div>

<div id="tb" style="padding: 3px 0px 3px 10px; height: auto">
    <div style="vertical-align: middle">
        企业名称：
        <input name="s_trainname" id="s_trainname" class="easyui-validatebox searchInput" />
        @*电话：
        <input name="s_traintel" id="s_traintel" class="easyui-validatebox searchInput" />
        身份证号：
        <input name="s_trainID" id="s_trainID" class="easyui-validatebox searchInput" />
        培训工种：
        <input name="s_traintypeid" id="s_traintypeid" class="easyui-combobox" data-options="textField:'Name',valueField:'ID',url:'/Tools/GetTrainType2'" />
        处理状态：
        <input name="s_state" id="s_state" class="easyui-combobox" data-options="textField:'Value',valueField:'Key',url:'/Tools/GetState2'" />*@
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="findData()">查询</a>
    </div>
</div>

@section scripts{
    <script>
        var tableName = "basket_rent";
        var sortName = "Guid";
        var idField = "Guid";
        var sortOrder = "asc";

        var columns = [[
                        { field: 'QYQYMC', title: '企业名称', width: 100, sortable: true },
                        { field: 'QYQYDZ', title: '企业地址', width: 100, sortable: true },
                        { field: 'QYYB', title: '邮编', width: 100, sortable: true },
                        { field: 'QYZZJGDM', title: '企业组织机构代码', width: 100, sortable: true },
                        { field: 'QYLXR', title: '企业联系人', width: 100, sortable: true },

        ]];
        function toExcel() {
            var arr = getSelectedArr(datagrid, idField);
            if (arr.length > 0) {
                $.messager.confirm('提示信息', '您确认要导出选中的所有记录吗?', function (data) {
                    if (data) {
                        window.open("/" + tableName + "/Export/" + arr.join(','));
                    }
                });
            } else {
                msgShow('请先选择要导出的记录。');
            }
        }

        function returnQueryParams() {
            var obj = {
                trainname: $("#s_trainname").val(),
                //traintel: $("#s_traintel").val(),
                //trainID: $("#s_trainID").val(),
                //traintypeid: $("#s_traintypeid").combobox("getValue"),
                //state: $("#s_state").combobox("getValue"),
            };
            return obj;
        }
    </script>
}





