@{
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}
<div id="Dlg-Edit" title="窗口" style="width: 670px; height: 400px;" buttons="#buttons">
    <div style="padding: 10px 10px 40px 40px;">
        <form method="post">
            <table>
                <tr> <td class="right">企业名称：</td><td><input type="text" name="qymc" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业地址：</td><td><input type="text" name="qydz" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">邮编：</td><td><input type="text" name="yb" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">组织机构代码：</td><td><input type="text" name="zzjgdm" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">联系人：</td><td><input type="text" name="lxr" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">固定电话：</td><td><input type="text" name="gddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">移动电话：</td><td><input type="text" name="yddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电子邮箱：</td><td><input type="text" name="dzyx" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">传真：</td><td><input type="text" name="cz" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">营业执照注册号：</td><td><input type="text" name="yyzzzch" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">经济类型：</td><td><input type="text" name="jjlx" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">注册资金（万元）：</td><td><input type="text" name="zczj" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">固定资产（万元）：</td><td><input type="text" name="gdzc" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">企业职工总人数：</td><td><input type="text" name="qyzgzrs" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">开始制造吊篮日期：</td><td><input type="text" name="kszzdlrq" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">申请产品规格型号：</td><td><input type="text" name="sqcpggxh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">：</td><td><input type="text" name="qyjj" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代姓名：</td><td><input type="text" name="fddbxm" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代性别：</td><td><input type="text" name="fddbxb" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代最高学历：</td><td><input type="text" name="fddbzgxl" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代职务：</td><td><input type="text" name="fddbzw" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代职称：</td><td><input type="text" name="fddbzc" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代专业：</td><td><input type="text" name="fddbzy" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代固定电话：</td><td><input type="text" name="fddbgddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代移动电话：</td><td><input type="text" name="fddbyddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代参加过何种专业或安全生产培训：</td><td><input type="text" name="fddbzypx" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代培训时间：</td><td><input type="text" name="fddbpxsj" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">法代培训合格证书编号：</td><td><input type="text" name="fddbzsbh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责姓名：</td><td><input type="text" name="jsfzrxm" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责性别：</td><td><input type="text" name="jsfzrxb" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责最高学历：</td><td><input type="text" name="jsfzrzgxl" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责职务：</td><td><input type="text" name="jsfzrzw" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责职称：</td><td><input type="text" name="jsfzrzc" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责专业：</td><td><input type="text" name="jsfzrzy" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责固顶电话：</td><td><input type="text" name="jsfzrgddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责移动电话：</td><td><input type="text" name="jsfzryddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责移动电话：</td><td><input type="text" name="jsfzrzypx" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责培训时间：</td><td><input type="text" name="jsfzrpxsj" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">技术负责证件编号：</td><td><input type="text" name="jsfzrzsbh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人姓名：</td><td><input type="text" name="zlfzrxm" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人性别：</td><td><input type="text" name="zlfzrxb" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人最高学历：</td><td><input type="text" name="zlfzrzgxl" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人职务：</td><td><input type="text" name="zlfzrzw" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人职称：</td><td><input type="text" name="zlfzrzc" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人专业：</td><td><input type="text" name="zlfzrzy" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人固定电话：</td><td><input type="text" name="zlfzrgddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人移动电话：</td><td><input type="text" name="zlfzryddh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人参加过何种专业或安全生产培训：</td><td><input type="text" name="zlfzrzypx" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人培训时间：</td><td><input type="text" name="zlfzrpxsj" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">质负人培训合格证书编号：</td><td><input type="text" name="zlfzrzsbh" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="gzryxh1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="gzryxm1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职务：</td><td><input type="text" name="gzryzw1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职称：</td><td><input type="text" name="gzryzc1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机关：</td><td><input type="text" name="gzryfzjg1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">学历：</td><td><input type="text" name="gzryxl1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">专业：</td><td><input type="text" name="gzryzy1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="gzryxh2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="gzryxm2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职务：</td><td><input type="text" name="gzryzw2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职称：</td><td><input type="text" name="gzryzc2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机关：</td><td><input type="text" name="gzryfzjg2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">学历：</td><td><input type="text" name="gzryxl2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">专业：</td><td><input type="text" name="gzryzy2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="gzryxh3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="gzryxm3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职务：</td><td><input type="text" name="gzryzw3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职称：</td><td><input type="text" name="gzryzc3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机关：</td><td><input type="text" name="gzryfzjg3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">学历：</td><td><input type="text" name="gzryxl3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">专业：</td><td><input type="text" name="gzryzy3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="gzryxh4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="gzryxm4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职务：</td><td><input type="text" name="gzryzw4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职称：</td><td><input type="text" name="gzryzc4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机关：</td><td><input type="text" name="gzryfzjg4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">学历：</td><td><input type="text" name="gzryxl4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">专业：</td><td><input type="text" name="gzryzy4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="gzryxh5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="gzryxm5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职务：</td><td><input type="text" name="gzryzw5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">职称：</td><td><input type="text" name="gzryzc5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机关：</td><td><input type="text" name="gzryfzjg5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">学历：</td><td><input type="text" name="gzryxl5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">专业：</td><td><input type="text" name="gzryzy5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="tzzyryxh1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="tzzyryxm1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工种：</td><td><input type="text" name="tzzyrygz1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="tzzyryxh2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="tzzyryxm2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工种：</td><td><input type="text" name="tzzyrygz2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="tzzyryxh3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="tzzyryxm3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工种：</td><td><input type="text" name="tzzyrygz3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="tzzyryxh4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="tzzyryxm4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工种：</td><td><input type="text" name="tzzyrygz4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="tzzyryxh5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">姓名：</td><td><input type="text" name="tzzyryxm5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">工种：</td><td><input type="text" name="tzzyrygz5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机构：</td><td><input type="text" name="zgzsfzjg1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证书编号：</td><td><input type="text" name="zgzszsbh1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="zgzsyxq1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机构：</td><td><input type="text" name="zgzsfzjg2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证书编号：</td><td><input type="text" name="zgzszsbh2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="zgzsyxq2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机构：</td><td><input type="text" name="zgzsfzjg3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证书编号：</td><td><input type="text" name="zgzszsbh3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="zgzsyxq3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机构：</td><td><input type="text" name="zgzsfzjg4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证书编号：</td><td><input type="text" name="zgzszsbh4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="zgzsyxq4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">发证机构：</td><td><input type="text" name="zgzsfzjg5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证书编号：</td><td><input type="text" name="zgzszsbh5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="zgzsyxq5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="mxxh1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备名称：</td><td><input type="text" name="mxsbmc1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="mxgg1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="mxsl1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">制造厂商：</td><td><input type="text" name="mxzzs1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="mxxh2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备名称：</td><td><input type="text" name="mxsbmc2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="mxgg2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="mxsl2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">制造厂商：</td><td><input type="text" name="mxzzs2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="mxxh3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备名称：</td><td><input type="text" name="mxsbmc3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="mxgg3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="mxsl3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">制造厂商：</td><td><input type="text" name="mxzzs3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="mxxh4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备名称：</td><td><input type="text" name="mxsbmc4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="mxgg4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="mxsl4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">制造厂商：</td><td><input type="text" name="mxzzs4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="mxxh5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备名称：</td><td><input type="text" name="mxsbmc5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="mxgg5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="mxsl5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">制造厂商：</td><td><input type="text" name="mxzzs5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="jyylmxxh1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">名称：</td><td><input type="text" name="jyylmxmc1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="jyylmxgg1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="jyylmxsl1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="jyylmxyxq1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="jyylmxxh2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">名称：</td><td><input type="text" name="jyylmxmc2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="jyylmxgg2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="jyylmxsl2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="jyylmxyxq2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="jyylmxxh3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">名称：</td><td><input type="text" name="jyylmxmc3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="jyylmxgg3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="jyylmxsl3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="jyylmxyxq3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="jyylmxxh4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">名称：</td><td><input type="text" name="jyylmxmc4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="jyylmxgg4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="jyylmxsl4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="jyylmxyxq4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">序号：</td><td><input type="text" name="jyylmxxh5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">名称：</td><td><input type="text" name="jyylmxmc5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">型号/规格：</td><td><input type="text" name="jyylmxgg5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数量(台)：</td><td><input type="text" name="jyylmxsl5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">有效期：</td><td><input type="text" name="jyylmxyxq5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">年度：</td><td><input type="text" name="yjylnd1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">规格型号：</td><td><input type="text" name="yjylggxh1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产量：</td><td><input type="text" name="yjylcl1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">销售收入：</td><td><input type="text" name="yjylxssr1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">备注：</td><td><input type="text" name="yjylbz1" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">年度：</td><td><input type="text" name="yjylnd2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">规格型号：</td><td><input type="text" name="yjylggxh2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产量：</td><td><input type="text" name="yjylcl2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">销售收入：</td><td><input type="text" name="yjylxssr2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">备注：</td><td><input type="text" name="yjylbz2" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">年度：</td><td><input type="text" name="yjylnd3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">规格型号：</td><td><input type="text" name="yjylggxh3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产量：</td><td><input type="text" name="yjylcl3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">销售收入：</td><td><input type="text" name="yjylxssr3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">备注：</td><td><input type="text" name="yjylbz3" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">年度：</td><td><input type="text" name="yjylnd4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">规格型号：</td><td><input type="text" name="yjylggxh4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产量：</td><td><input type="text" name="yjylcl4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">销售收入：</td><td><input type="text" name="yjylxssr4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">备注：</td><td><input type="text" name="yjylbz4" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">年度：</td><td><input type="text" name="yjylnd5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">规格型号：</td><td><input type="text" name="yjylggxh5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产量：</td><td><input type="text" name="yjylcl5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">销售收入：</td><td><input type="text" name="yjylxssr5" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">备注：</td><td><input type="text" name="yjylbz5" class="easyui-validatebox editInput" required='true' /></td></tr>
            </table>
        </form>
    </div>
</div>

<div id="tb" style="padding: 3px 0px 3px 10px; height: auto">
    <div style="vertical-align: middle">
        姓名：
        <input name="s_trainname" id="s_trainname" class="easyui-validatebox searchInput" />
        @*电话：
        <input name="s_traintel" id="s_traintel" class="easyui-validatebox searchInput" />
        身份证号：
        <input name="s_trainID" id="s_trainID" class="easyui-validatebox searchInput" />
        培训工种：
        <input name="s_traintypeid" id="s_traintypeid" class="easyui-combobox" data-options="textField:'Name',valueField:'ID',url:'/Tools/GetTrainType2'" />
        处理状态：
        <input name="s_state" id="s_state" class="easyui-combobox" data-options="textField:'Value',valueField:'Key',url:'/Tools/GetState2'" />*@
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="findData()">查询</a>
    </div>
</div>

@section scripts{
    <script>
        var tableName = "basket_made";
        var sortName = "Guid";
        var idField = "Guid";
        var sortOrder = "asc";

        var columns = [[
                        { field: 'qymc', title: '企业名称', width: 100, sortable: true },
                        { field: 'qydz', title: '企业地址', width: 100, sortable: true },
                        { field: 'yb', title: '邮编', width: 100, sortable: true },
                        { field: 'zzjgdm', title: '组织机构代码', width: 100, sortable: true },
                        { field: 'lxr', title: '联系人', width: 100, sortable: true },

        ]];
        function toExcel() {
            var arr = getSelectedArr(datagrid, idField);
            if (arr.length > 0) {
                $.messager.confirm('提示信息', '您确认要导出选中的所有记录吗?', function (data) {
                    if (data) {
                        window.open("/" + tableName + "/Export/" + arr.join(','));
                    }
                });
            } else {
                msgShow('请先选择要导出的记录。');
            }
        }

        function returnQueryParams() {
            var obj = {
                trainname: $("#s_trainname").val(),
                //traintel: $("#s_traintel").val(),
                //trainID: $("#s_trainID").val(),
                //traintypeid: $("#s_traintypeid").combobox("getValue"),
                //state: $("#s_state").combobox("getValue"),
            };
            return obj;
        }
    </script>
}





