@{
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}
<div id="Dlg-Edit" title="窗口" style="width: 670px; height: 400px;" buttons="#buttons">
    <div style="padding: 10px 10px 40px 40px;">
        <form method="post">
            <table>
                <tr> <td class="right">工程名称：</td><td><input type="text" name="GCMC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">项目地址：</td><td><input type="text" name="XMDZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备产权单位：</td><td><input type="text" name="SBCQDW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产权单位负责人及电话：</td><td><input type="text" name="CQDWFZRJDH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">安装单位：</td><td><input type="text" name="AZDW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备制造单位：</td><td><input type="text" name="SBZZDW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资质等级：</td><td><input type="text" name="ZZDJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资质编号：</td><td><input type="text" name="ZZBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备型号：</td><td><input type="text" name="SBXH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备建鉴号：</td><td><input type="text" name="SBJJH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证明文件检验结果：</td><td><input type="text" name="ZMWJJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证明文件结论：</td><td><input type="text" name="ZMWJJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">证明文件备注：</td><td><input type="text" name="ZMWJBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产权证明检验结果：</td><td><input type="text" name="CQZMJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产权证明结论：</td><td><input type="text" name="CQZMJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">产权证明备注：</td><td><input type="text" name="CQZMBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资质证书检验结果：</td><td><input type="text" name="ZZZSJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资质证书结论：</td><td><input type="text" name="ZZZSJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">资质证书备注：</td><td><input type="text" name="ZZZSBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">使用说明书检验结果：</td><td><input type="text" name="SYSMSJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">使用说明书结论：</td><td><input type="text" name="SYSMSJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">使用说明书备注：</td><td><input type="text" name="SYSMSBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">高强度标准件质保书检验结果：</td><td><input type="text" name="GQDBZJZBSJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">高强度标准件质保书结论：</td><td><input type="text" name="GQDBZJZBSJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">高强度标准件质保书备注：</td><td><input type="text" name="GQDBZJZBSBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要受力构件材质证明检验结果：</td><td><input type="text" name="ZYSLGJCZZMJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要受力构件材质证明结论：</td><td><input type="text" name="ZYSLGJCZZMJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要受力构件材质证明备注：</td><td><input type="text" name="ZYSLGJCZZMBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">转场保养记录检验结果：</td><td><input type="text" name="ZCBYJLJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">转场保养记录结论：</td><td><input type="text" name="ZCBYJLJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">转场保养记录备注：</td><td><input type="text" name="ZCBYJLBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要结构件检验结果：</td><td><input type="text" name="ZYJGJJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要结构件结论：</td><td><input type="text" name="ZYJGJJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要结构件备注：</td><td><input type="text" name="ZYJGJBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要受力构件检验结果：</td><td><input type="text" name="ZYSLGJJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要受力构件结论：</td><td><input type="text" name="ZYSLGJJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">主要受力构件备注：</td><td><input type="text" name="ZYSLGJBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">桁架上下弦检验结果：</td><td><input type="text" name="ZJSXXJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">桁架上下弦结论：</td><td><input type="text" name="ZJSXXJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">桁架上下弦备注：</td><td><input type="text" name="ZJSXXBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">腹杆上下弦检验结果：</td><td><input type="text" name="FGSXXJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">腹杆上下弦结论：</td><td><input type="text" name="FGSXXJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">腹杆上下弦备注：</td><td><input type="text" name="FGSXXBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">导轨平直直线度检验结果：</td><td><input type="text" name="DGPZZXDJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">导轨平直直线度结论：</td><td><input type="text" name="DGPZZXDJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">导轨平直直线度备注：</td><td><input type="text" name="DGPZZXDBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">导轨表面完好检验结果：</td><td><input type="text" name="DGBMWHJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">导轨表面完好结论：</td><td><input type="text" name="DGBMWHJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">导轨表面完好备注：</td><td><input type="text" name="DGBMWHBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座导向结构检验结果：</td><td><input type="text" name="FQZZDXJGJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座导向结构结论：</td><td><input type="text" name="FQZZDXJGJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座导向结构备注：</td><td><input type="text" name="FQZZDXJGBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座上防倾结构检验结果：</td><td><input type="text" name="FQZZSFQJGJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座上防倾结构结论：</td><td><input type="text" name="FQZZSFQJGJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座上防倾结构备注：</td><td><input type="text" name="FQZZSFQJGBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座防坠落结构检验结果：</td><td><input type="text" name="FQZZFZLJGJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座防坠落结构结论：</td><td><input type="text" name="FQZZFZLJGJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">附墙支座防坠落结构备注：</td><td><input type="text" name="FQZZFZLJGBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防坠落装置灵敏可靠检验结果：</td><td><input type="text" name="FZLZZLMKKJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防坠落装置灵敏可靠结论：</td><td><input type="text" name="FZLZZLMKKJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防坠落装置灵敏可靠备注：</td><td><input type="text" name="FZLZZLMKKBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防坠落装置独立固定检验结果：</td><td><input type="text" name="FZLZZDLGDJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防坠落装置独立固定结论：</td><td><input type="text" name="FZLZZDLGDJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防坠落装置独立固定备注：</td><td><input type="text" name="FZLZZDLGDBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防尘防污染检验结果：</td><td><input type="text" name="FCFWRJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防尘防污染结论：</td><td><input type="text" name="FCFWRJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防尘防污染备注：</td><td><input type="text" name="FCFWRBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢吊杆式防坠落装置检验结果：</td><td><input type="text" name="GDGSFZLZZJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢吊杆式防坠落装置结论：</td><td><input type="text" name="GDGSFZLZZJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢吊杆式防坠落装置备注：</td><td><input type="text" name="GDGSFZLZZBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防倾覆装置包括导轨检验结果：</td><td><input type="text" name="FQFZZBKDGJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防倾覆装置包括导轨结论：</td><td><input type="text" name="FQFZZBKDGJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防倾覆装置包括导轨备注：</td><td><input type="text" name="FQFZZBKDGBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设置防倾导轨检验结果：</td><td><input type="text" name="SZFQDGJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设置防倾导轨结论：</td><td><input type="text" name="SZFQDGJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设置防倾导轨备注：</td><td><input type="text" name="SZFQDGBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防止竖向主框架倾斜检验结果：</td><td><input type="text" name="FZSXZKJQXJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防止竖向主框架倾斜结论：</td><td><input type="text" name="FZSXZKJQXJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防止竖向主框架倾斜备注：</td><td><input type="text" name="FZSXZKJQXBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">升降设备铭牌检验结果：</td><td><input type="text" name="SJSBMPJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">升降设备铭牌结论：</td><td><input type="text" name="SJSBMPJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">升降设备铭牌备注：</td><td><input type="text" name="SJSBMPBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电动葫芦机检验结果：</td><td><input type="text" name="DDHLJJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电动葫芦机结论：</td><td><input type="text" name="DDHLJJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电动葫芦机备注：</td><td><input type="text" name="DDHLJBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">链条完好检验结果：</td><td><input type="text" name="LTWHJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">链条完好结论：</td><td><input type="text" name="LTWHJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">链条完好备注：</td><td><input type="text" name="LTWHBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">穿墙螺栓直径长度检验结果：</td><td><input type="text" name="CQLSZJCDJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">穿墙螺栓直径长度结论：</td><td><input type="text" name="CQLSZJCDJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">穿墙螺栓直径长度备注：</td><td><input type="text" name="CQLSZJCDBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">垫板尺寸检验结果：</td><td><input type="text" name="DBCCJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">垫板尺寸结论：</td><td><input type="text" name="DBCCJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">垫板尺寸备注：</td><td><input type="text" name="DBCCBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">限制荷载自控系统检验结果：</td><td><input type="text" name="XZHZZKXTJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">限制荷载自控系统结论：</td><td><input type="text" name="XZHZZKXTJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">限制荷载自控系统备注：</td><td><input type="text" name="XZHZZKXTBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">超载失载报警停机检验结果：</td><td><input type="text" name="CZSZBJTJJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">超载失载报警停机结论：</td><td><input type="text" name="CZSZBJTJJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">超载失载报警停机备注：</td><td><input type="text" name="CZSZBJTJBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">显示记忆储存检验结果：</td><td><input type="text" name="XSJYCCJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">显示记忆储存结论：</td><td><input type="text" name="XSJYCCJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">显示记忆储存备注：</td><td><input type="text" name="XSJYCCBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">密目式安全立网检验结果：</td><td><input type="text" name="MMSAQLWJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">密目式安全立网结论：</td><td><input type="text" name="MMSAQLWJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">密目式安全立网备注：</td><td><input type="text" name="MMSAQLWBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防护栏杆高度检验结果：</td><td><input type="text" name="FHLGGDJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防护栏杆高度结论：</td><td><input type="text" name="FHLGGDJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">防护栏杆高度备注：</td><td><input type="text" name="FHLGGDBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">挡脚板高度检验结果：</td><td><input type="text" name="DJBGDJYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">挡脚板高度结论：</td><td><input type="text" name="DJBGDJL" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">挡脚板高度备注：</td><td><input type="text" name="DJBGDBZ" class="easyui-validatebox editInput" required='true' /></td></tr>
            </table>
        </form>
    </div>
</div>

<div id="tb" style="padding: 3px 0px 3px 10px; height: auto">
    <div style="vertical-align: middle">
        工程名称：
        <input name="s_trainname" id="s_trainname" class="easyui-validatebox searchInput" />
        @*电话：
        <input name="s_traintel" id="s_traintel" class="easyui-validatebox searchInput" />
        身份证号：
        <input name="s_trainID" id="s_trainID" class="easyui-validatebox searchInput" />
        培训工种：
        <input name="s_traintypeid" id="s_traintypeid" class="easyui-combobox" data-options="textField:'Name',valueField:'ID',url:'/Tools/GetTrainType2'" />
        处理状态：
        <input name="s_state" id="s_state" class="easyui-combobox" data-options="textField:'Value',valueField:'Key',url:'/Tools/GetState2'" />*@
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="findData()">查询</a>
    </div>
</div>

@section scripts{
    <script>
        var tableName = "jsj_keep";
        var sortName = "Guid";
        var idField = "Guid";
        var sortOrder = "asc";

        var columns = [[
                        { field: 'GCMC', title: '工程名称', width: 100, sortable: true },
                        { field: 'XMDZ', title: '项目地址', width: 100, sortable: true },
                        { field: 'SBCQDW', title: '设备产权单位', width: 100, sortable: true },
                        { field: 'CQDWFZRJDH', title: '产权单位负责人及电话', width: 100, sortable: true },
                        { field: 'AZDW', title: '安装单位', width: 100, sortable: true },

        ]];
        function toExcel() {
            var arr = getSelectedArr(datagrid, idField);
            if (arr.length > 0) {
                $.messager.confirm('提示信息', '您确认要导出选中的所有记录吗?', function (data) {
                    if (data) {
                        window.open("/" + tableName + "/Export/" + arr.join(','));
                    }
                });
            } else {
                msgShow('请先选择要导出的记录。');
            }
        }

        function returnQueryParams() {
            var obj = {
                trainname: $("#s_trainname").val(),
                //traintel: $("#s_traintel").val(),
                //trainID: $("#s_trainID").val(),
                //traintypeid: $("#s_traintypeid").combobox("getValue"),
                //state: $("#s_state").combobox("getValue"),
            };
            return obj;
        }
    </script>
}





