@{
    Layout = "~/Views/Shared/_LayoutGrid.cshtml";
}
<div id="Dlg-Edit" title="窗口" style="width: 670px; height: 400px;" buttons="#buttons">
    <div style="padding: 10px 10px 40px 40px;">
        <form method="post">
            <table>
                <tr> <td class="right">工程名称：</td><td><input type="text" name="GCMC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">施工地点：</td><td><input type="text" name="SGDD" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">使用单位：</td><td><input type="text" name="SYDW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">安装单位：</td><td><input type="text" name="AZDW" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备名称：</td><td><input type="text" name="SBMC" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">安装负责人：</td><td><input type="text" name="AZFZR" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备型号：</td><td><input type="text" name="SBXH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">设备编号：</td><td><input type="text" name="SBBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">生产厂家：</td><td><input type="text" name="SCCJ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">出厂日期：</td><td><input type="text" name="CCRQ" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">检验高度：</td><td><input type="text" name="JYGD" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">检验类别：</td><td><input type="text" name="JYLB" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电阻测试仪编号：</td><td><input type="text" name="DZCSYBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电阻测试仪状况：</td><td><input type="text" name="DZCSYZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数字兆欧表编号：</td><td><input type="text" name="SZZOBBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数字兆欧表状况：</td><td><input type="text" name="SZZOBZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">精密声级计编号：</td><td><input type="text" name="JMSJJBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">精密声级计状况：</td><td><input type="text" name="JMSJJZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数字万用表编号：</td><td><input type="text" name="SZWYBBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">数字万用表状况：</td><td><input type="text" name="SZWYBZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电子秒表编号：</td><td><input type="text" name="DZMBBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">电子秒表状况：</td><td><input type="text" name="DZMBZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">风速计编号：</td><td><input type="text" name="FSJBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">风速计状况：</td><td><input type="text" name="FSJZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">温湿度计编号：</td><td><input type="text" name="WSDJBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">温湿度计状况：</td><td><input type="text" name="WSDJZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">游标卡尺编号：</td><td><input type="text" name="YBKCBH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">游标卡尺状况：</td><td><input type="text" name="YBKCZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢卷尺30编号：</td><td><input type="text" name="GJC30BH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢卷尺30状况：</td><td><input type="text" name="GJC30ZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢卷尺5编号：</td><td><input type="text" name="GJC5BH" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">钢卷尺5状况：</td><td><input type="text" name="GJC5ZK" class="easyui-validatebox editInput" required='true' /></td></tr>
                <tr> <td class="right">检验结果：</td><td><input type="text" name="JYJG" class="easyui-validatebox editInput" required='true' /></td></tr>
            </table>
        </form>
    </div>
</div>

<div id="tb" style="padding: 3px 0px 3px 10px; height: auto">
    <div style="vertical-align: middle">
        工程名称：
        <input name="s_trainname" id="s_trainname" class="easyui-validatebox searchInput" />
        @*电话：
        <input name="s_traintel" id="s_traintel" class="easyui-validatebox searchInput" />
        身份证号：
        <input name="s_trainID" id="s_trainID" class="easyui-validatebox searchInput" />
        培训工种：
        <input name="s_traintypeid" id="s_traintypeid" class="easyui-combobox" data-options="textField:'Name',valueField:'ID',url:'/Tools/GetTrainType2'" />
        处理状态：
        <input name="s_state" id="s_state" class="easyui-combobox" data-options="textField:'Value',valueField:'Key',url:'/Tools/GetState2'" />*@
        <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-search" onclick="findData()">查询</a>
    </div>
</div>

@section scripts{
    <script>
        var tableName = "winow_check";
        var sortName = "Guid";
        var idField = "Guid";
        var sortOrder = "asc";

        var columns = [[
                        { field: 'GCMC', title: '工程名称', width: 100, sortable: true },
                        { field: 'SGDD', title: '施工地点', width: 100, sortable: true },
                        { field: 'SYDW', title: '使用单位', width: 100, sortable: true },
                        { field: 'AZDW', title: '安装单位', width: 100, sortable: true },
                        { field: 'SBMC', title: '设备名称', width: 100, sortable: true },

        ]];
        function toExcel() {
            var arr = getSelectedArr(datagrid, idField);
            if (arr.length > 0) {
                $.messager.confirm('提示信息', '您确认要导出选中的所有记录吗?', function (data) {
                    if (data) {
                        window.open("/" + tableName + "/Export/" + arr.join(','));
                    }
                });
            } else {
                msgShow('请先选择要导出的记录。');
            }
        }

        function returnQueryParams() {
            var obj = {
                trainname: $("#s_trainname").val(),
                //traintel: $("#s_traintel").val(),
                //trainID: $("#s_trainID").val(),
                //traintypeid: $("#s_traintypeid").combobox("getValue"),
                //state: $("#s_state").combobox("getValue"),
            };
            return obj;
        }
    </script>
}





