@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    string newsid = ViewBag.NewsID;
    var news = AM.BLL.DB.Instant.NewsManager.First(a => a.newsid == newsid);
    if (news == null)
    {
        Response.Redirect("/web/Page404");
    }
    news.newsclicks = (news.newsclicks == null ? 0 : news.newsclicks) + 1;
    AM.BLL.DB.Instant.NewsManager.Update(news);
    var newstype = AM.BLL.DataStore.NewsType.FirstOrDefault(a => a.typeid == news.newstype);

    ViewBag.Title = news.newstitle;

    var next = AM.BLL.DB.Instant.NewsManager.Where(a => a.newstype == news.newstype && a.newsdate <= news.newsdate && a.newsid != news.newsid).OrderBy(a => a.newstitle).Select(a => new
    {
        a.newstitle,
        a.newsid
    }).Take(1).ToList().Select(a => new Dao.news()
    {
        newstitle = a.newstitle,
        newsid = a.newsid
    }).FirstOrDefault();
    if (next == null)
    {
        next = new Dao.news { newsid = "#", newstitle = "没有了" };
    }

    var pn = AM.BLL.DB.Instant.NewsManager.Where(a => a.newstype == news.newstype && a.newsdate >= news.newsdate && a.newsid != news.newsid).OrderBy(a => a.newstitle).Select(a => new
    {
        a.newstitle,
        a.newsid
    }).Take(1).ToList().Select(a => new Dao.news()
    {
        newstitle = a.newstitle,
        newsid = a.newsid
    }).FirstOrDefault();
    if (pn == null)
    {
        pn = new Dao.news { newsid = "#", newstitle = "没有了" };
    }
}
<!--您的位置-->
<div class="news-page">
    <ul class="location">
        <p>您现在的位置：</p>
        <li><a href="/" name="1">首页</a></li>
        <li>></li>
        <li><a href="/web/news">无忧资讯</a></li>
        <li>></li>
        <li><a href="/news/@newstype.typeid">@(newstype.typename)</a></li>
    </ul>

    <div class="news-page-text-out">
        <div class="news-page-text">
            <h3>@news.newstitle</h3>
            <div class="release-time">
                <div class="fl">发布时间：@news.newsdate.ToString("yyyy-MM-dd")</div>
                <div class="fr">浏览次数：@news.newsclicks 次</div>
            </div>

            <p>
                @Html.Raw(news.newscontent)
            </p>
        </div>

        <div class="next-news-box">
            <div><a href="/web/newsDetail/@pn.newsid">上一篇：@(pn.newstitle.Length > 15 ? pn.newstitle.Substring(0, 15) + "..." : pn.newstitle)</a></div>
            <div><a href="/web/newsDetail/@next.newsid">下一篇：@(next.newstitle.Length > 15 ? next.newstitle.Substring(0, 15) + "..." : next.newstitle)</a></div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            $("#li_index").addClass("index");
            /*新闻资讯*/
            $(".news-page-left-main ul").hide();
            $(".news-page-left-main ul:first").show();
            $(".news-page-left-title ul li").mouseenter(function () {
                n = $(this).index();
                $(".news-page-left-title ul li").removeClass("news-page-left-title1").eq(n).addClass("news-page-left-title1");
                $(".news-page-left-main ul").hide().eq(n).fadeIn(200);
            })

        })
    </script>
}
