@{
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
    ViewBag.Title = "培训申请";
}
<!--表格申请-->
<div class="apply-out">
    <!--您的位置-->
    <ul class="location">
        <p>您现在的位置：</p>
        <li><a href="/" name="1">首页</a></li>
        <li>></li>
        <li><a href="/web/Train#1">培训申请</a></li>
    </ul>

    <!--表格-->
    <div class="apply-box">
        <ul class="apply-but">
            <li><a href="/web/ZZSQ#1">资质申请</a></li>
            <li><a href="/web/Test#1">检测申请</a></li>
            <li class="apply-but1"><a href="/web/Train#1">培训申请</a></li>
        </ul>

        <div class="apply-sm-box">
            <h3>高空机械工程技术研究院培训申请表</h3>
            <form id="form1" onsubmit="return false">
                <div class="apply-table">
                    <h4>姓名<span>NAME</span></h4>
                    <div>
                        <input name="trainname" type="text" placeholder="请输入姓名" class="width2" />
                        <input type="hidden" name="userid" value="@ViewBag.UserID" />
                    </div>
                </div>

                <div class="apply-table">
                    <h4>性别<span>GENDER</span></h4>
                    <div class="radio">
                        <label><input name="trainsex" type="radio" value="m"><span>男</span></label>
                        <label><input name="trainsex" type="radio" value="f"><span>女</span></label>
                    </div>
                </div>

                <div class="clear"></div>

                <div class="apply-table">
                    <h4>文化程度<span>CULTURAL DEGREE</span></h4>
                    <div><input name="trainculturaldegree" type="text" placeholder="请输入文化程度" class="width3" /></div>
                </div>

                <div class="apply-table">
                    <h4>出生年月<span>DATE OF BIRTH</span></h4>
                    <div><input name="trainbirthdate" type="text" placeholder="请输入出生年月" class="width3" onclick="WdatePicker()" /></div>
                </div>

                <div class="apply-table">
                    <h4 class="title-width">专业工龄<span>PROFESSIONAL</span></h4>
                    <div><input name="trainservicelength" type="text" placeholder="请输入专业工龄" class="width3" /></div>
                </div>
                <div class="cl"></div>
                <div class="apply-table">
                    <h4>身体状况<span>PHYSICAL CONDITION</span></h4>
                    <div><input name="trainphysicalcondition" type="text" placeholder="请输入身体状况" class="width3" /></div>
                </div>

                <div class="apply-table">
                    <h4>培训工种<span>TRAINING TYPE</span></h4>
                    <div>
                        <select name="traintypeid" class="drop-down2">
                            <option selected>请选择</option>
                            @{
                                var types = AM.BLL.DB.Instant.TrainTypeManager.Where(a => true).Select(a => new
                                {
                                    a.typeid,
                                    a.typename,
                                    a.sort
                                }).OrderBy(a => a.sort).ToList();
                                foreach (var item in types)
                                {
                                    <option value="@item.typeid">@item.typename</option>
                                }
                            } 
                        </select>
                    </div>
                </div>

                <div class="apply-table">
                    <h4 class="title-width">身份证号<span>ID NUMBER</span></h4>
                    <div><input name="trainID" type="text" placeholder="请输入身份证号" class="width3" /></div>
                </div>

                <div class="apply-table">
                    <h4>工作单位<span>WORK UNIT</span></h4>
                    <div><input name="traincompany" type="text" placeholder="请输入工作单位名称" class="width4" /></div>
                </div>

                <div class="apply-table">
                    <h4 class="title-width">邮政编码<span>ZIP CODE</span></h4>
                    <div><input name="trainpostcode" type="text" placeholder="请输入邮编" class="width3" /></div>
                </div>

                <div class="apply-table">
                    <h4>单位地址<span>UNIT ADDRESS</span></h4>
                    <div><input name="traincompanyaddr" type="text" placeholder="请输入单位地址" class="width1" /></div>
                </div>

                <div class="apply-table cl">
                    <h4 class="title-width">联系人<span>CONTACT PERSON</span></h4>
                    <div><input name="trainlinkname" type="text" placeholder="请输入姓名" class="width3" /></div>
                </div>

                <div class="apply-table">
                    <h4 class="title-width">联系电话<span>CONTACT PHONE</span></h4>
                    <div><input name="traintel" type="text" placeholder="请输入电话/手机" class="width3" /></div>
                </div>

                <div class="apply-table">
                    <h4 class="title-width">邮箱<span>ECONOMIC TYPE</span></h4>
                    <div><input name="trainemail" type="text" placeholder="请输邮箱" class="width3" /></div>
                </div>

                <div class="apply-table-but cl">
                    <input type="submit" value="提交" id="btnOK" class="submit" /> <input type="reset" value="重置" class="reset" onclick="reset()" />
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/My97DatePicker/WdatePicker.js"></script>
    <script>
        $(function () {
            $("#li_sq").addClass("index");
            //提交表单
            $("#btnOK").click(function () {
                var data = $('#form1').serialize();
                $.post("/Client/postuptrainapplicationinfo", data, function (d) {
                    //var result = eval('(' + d + ')'); //处理Json
                    //alert("x" + d.message+d.code);
                    if (d.code == 1) {
                        alert("提交成功！申请费用：" + d.price);
                    } else {
                        alert("提交失败！原因：" + d.message);
                    }
                });
            });
        })
        function reset() {
            $("input").each(function (e) {
                $(this).val("");
            });
        }
    </script>
}
