@using AM.BLL;
@using AM.Common;
@{
    ViewBag.Title = "Index";
}

@section scripts{
    @*<script src="/Scripts/app/index.js"></script>*@
    <script src="~/Content/kindeditor/kindeditor-min.js"></script>
    <script src="~/Content/easyui/ekindeditor.js"></script>
    <script>
        var datagrid;
        var dlg_App;
        var dlg_App_Form;
        var rolegrid;


        var toolbar = [{
            text: '修改',
            iconCls: 'icon-edit',
            handler: edit
        }
        ];

        $(function () {
            datagrid = $("#datagrid").datagrid({
                title: "",
                iconCls: 'icon-sum',
                method: 'post',
                sortName: 'description',
                sortOrder: 'asc',
                idField: 'appid',
                pageSize: 100,
                striped: true,
                pageList: [10, 20, 50, 100, 200],
                autoRowHeight: false,
                url: "/app/GetData",
                toolbar: toolbar,
                loadMsg: '正在加载数据，请稍等…',
                frozenColumns: [[
                            {
                                field: 'IsCheck', checkbox: true, width: 80
                            }
                ]],
                columns: [[
                                //{ field: 'userid', title: 'userid', width: 120 },
                                { field: 'appid', title: 'appid', width: 120 },
                                { field: 'content', title: 'content', width: 100 },
                                { field: 'description', title: '描述', width: 250 }

                ]],
                fit: true,
                pagination: true,
                rownumbers: true,
                fitColumns: true,
                singleSelect: false

            });
            
            dlg_App = $('#Dlg-App').dialog({
                closed: true,      //窗体右上方的关闭图标是正常显示的
                modal: true        //窗体显示的模式
            });
            dlg_App_Form = dlg_App.find("form");

        });

        function edit() {
            var rows = datagrid.datagrid('getSelections');
            var num = rows.length;
            if (num == 0) {
                msgShow('请选择一条记录进行操作!');
                return;
            }
            else if (num > 1) {
                msgShow('您选择了多条记录,只能选择一条记录进行修改!');
                return;
            }
            dlg_App_Form.form('clear');
            dlg_App.dialog('open');
            dlg_App.dialog('setTitle', '您正在修改app:' + rows[0]['appid']);

            $.post("/app/FillForm/", { id: rows[0]['appid'] }, function (result) {
                dlg_App_Form.form('load', result);
                kindeditor.html(result.content);
            });
            dlg_App_Form.url = "/app/update/" + rows[0]['appid'];
        }

        function saveDataApp() {
            dlg_App_Form.form('submit', {
                url: dlg_App_Form.url,
                onSubmit: function () {
                    return $(this).form('validate');
                },
                success: function (data) {
                    try {
                        var result = eval('(' + data + ')'); //处理Json
                        var desc = filterDesc(result.ResultDescription);
                        if (result.IsSuccess) {
                            msgFade("操作成功：" + desc);
                            datagrid.datagrid('reload'); //grid变量要与其他文件中的一致
                            dlg_App.dialog('close');
                        } else {
                            msgShow('操作失败，' + "请重试或重新登录");
                        }
                    } catch (err) {
                        msgShow('操作失败！' + "请重试或重新登录");
                    }
                }
            });
        }
    </script>
}
<div region="center" style=" border: hidden; padding: 1px; overflow-y: hidden">
    <div id="datagrid"></div>
</div>


<div id="Dlg-App" title="窗口" style="width: 800px; height: 450px;" buttons="#buttonsApp">
    <form method="post">
        <div>
            描述：       <br />
            <textarea class="easyui-validatabox" style="width: 750px; height: 60px" name="description" id="description"></textarea>
        </div>
        <div>
            内容： <br />
            <textarea class="easyui-kindeditor" style="width: 750px; height: 250px" name="content" id="content"></textarea>
        </div>
    </form>
</div>
<div id="buttonsApp">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="saveDataApp()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-cancel" onclick="javascript:$('#Dlg-App').dialog('close')">关闭</a>
</div>

